body{
    display: flex;
    text-align: center;
    justify-content: center;
}
.container{
    margin-top: 200px;
    height: 300px;
    width: 300px;
    background-color: red;
    color: aqua;
    text-align: center;
    border-radius: 10px;
}
